.redirect {
  margin-top: 1.25rem;
}

.results {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  padding: 2rem;
}

.simboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.simulation {
  background-color: #f2f2f2;
  border-radius: 0.3125rem;
  font-family: sans-serif;
  margin: 2rem;
  padding: 1.25rem;
  text-align: center;
  min-width: 56.25rem;
}

.simulation .table-results-container {
  overflow-y: auto;
}

table {
  margin: auto;
  margin-top: 1.25rem;
  margin-top: 20px;
  text-align: left;
}

table td {
  padding: 0.2rem;
}

table.state-graph > tr  {
  outline: thin solid;
}
