.redirect {
  margin-top: 1.25rem;
}

.results {
  font-family: sans-serif;
}

.simulation {
  background-color: #f2f2f2;
  border-radius: 0.3125rem;
  font-family: sans-serif;
  margin: auto;
  padding: 1.25rem;
  text-align: center;
  width: 56.25rem;
}

table {
  margin: auto;
  margin-top: 1.25rem;
}
