.simulation {
  background-color: #f2f2f2;
  border-radius: 5px;
  font-family: sans-serif;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 900px;
}

.results {
  font-family: sans-serif;
}

table {
  margin: auto;
  margin-top: 20px;
}