#biogridVisual {
  width: 28.125rem;
}

body {
  background-color: #0b5a5a;
}

br {
  clear: both;
}

.buildings {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
}

.endDatePicker {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
}

.input-page {
  background-color: #f2f2f2;
  border-radius: 0.3125rem;
  font-family: sans-serif;
  margin: auto;
  padding: 1.25rem;
  text-align: center;
  width: 56.25rem;
}

label {
  display: block;
  text-align: left;
}

.largeBatteryCells {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
}

.smallBatteryCells {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
}

.solarPanels {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
}

.startDatePicker {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
}

.submitButton {
  text-align: center;
}

.tooltipBuild {
  position: relative;
  display: inline-block;
}

.tooltipBuild .tooltiptextBuild {
  visibility: hidden;
  width: 450px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltipBuild:hover .tooltiptextBuild {
  visibility: visible;
}


.tooltipEndDate {
  position: relative;
  display: inline-block;
}

.tooltipEndDate .tooltiptextEndDate {
  visibility: hidden;
  width: 450px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltipEndDate:hover .tooltiptextEndDate {
  visibility: visible;
}

.tooltipHeight {
  position: relative;
  display: inline-block;
}

.tooltipHeight .tooltiptextHeight {
  visibility: hidden;
  width: 450px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltipHeight:hover .tooltiptextHeight {
  visibility: visible;
}

.tooltipLBC {
  position: relative;
  display: inline-block;
}

.tooltipLBC .tooltiptextLBC {
  visibility: hidden;
  width: 450px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltipLBC:hover .tooltiptextLBC {
  visibility: visible;
}

.tooltipSBC {
  position: relative;
  display: inline-block;
}

.tooltipSBC .tooltiptextSBC {
  visibility: hidden;
  width: 450px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltipSBC:hover .tooltiptextSBC {
  visibility: visible;
}

.tooltipSolar {
  position: relative;
  display: inline-block;
}

.tooltipSolar .tooltiptextSolar {
  visibility: hidden;
  width: 450px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltipSolar:hover .tooltiptextSolar {
  visibility: visible;
}

.tooltipStartDate {
  position: relative;
  display: inline-block;
}

.tooltipStartDate .tooltiptextStartDate {
  visibility: hidden;
  width: 450px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltipStartDate:hover .tooltiptextStartDate {
  visibility: visible;
}

.tooltipWidth {
  position: relative;
  display: inline-block;
}

.tooltipWidth .tooltiptextWidth {
  visibility: hidden;
  width: 450px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltipWidth:hover .tooltiptextWidth {
  visibility: visible;
}

.townHeight {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
}

.townWidth {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
}

