.input-page {
  background-color: #f2f2f2;
  border-radius: 0.3125rem;
  font-family: sans-serif;
  margin: auto;
  padding: 1.25rem;
  text-align: center;
  width: 56.25rem;
}

body {
  background-color: #3b6d6d;
}

br {
  clear: both;
}

img {
  width: 28.125rem;
}

label {
  display: block;
  text-align: left;
}

.submitButton {
  text-align: left;
}

.startDatePicker {
  float: left;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.endDatePicker {
  float: left;
  margin-top: 1.25rem;
}

.smallBatteryCells {
  float: left;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.largeBatteryCells {
  float: left;
}

