.simulation-board {
  position: relative;
}

.simulation-board .grid-item-wrapper {
  position: absolute;
  z-index: 2;
}

.simulation-board .grid-line-wrapper {
  position: absolute;
  z-index: 1;
}

.simulation-board .grid-item-wrapper svg {
  height: 3rem;
  width: 3rem;
}
